[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
deta = "*"
mypy = "*"
attrs = "*"
dataclasses-json = "*"
pydantic = "*"
twilio = "*"
pytest = "*"
python-decouple = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9.0"

[pipenv]
allow_prereleases = true
